.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.formContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.formItem {
  margin-bottom: 15px;
}

.formItem label {
  display: block;
  font-weight: bold;
}

.formItem input[type="text"],
.formItem input[type="number"],
.formItem input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.formItem input[type="checkbox"] {
  width: auto;
}

.dynamicInputContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dynamicInputContainer label {
  display: block;
  font-weight: bold;
}

.dynamicInputContainer input[type="text"],
.dynamicInputContainer input[type="number"] {
  width: calc(50% - 5px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 5px;
}

.dynamicInputContainer input[type="number"] {
  margin-left: 5px;
}

.buttonContainer {
  margin-top: 20px;
}

.buttonContainer button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #0056b3;
}
